# Environment
.env
*.env.local

# RSA keys
infra/certs/

# .NET
bin/
obj/
*.user
*.suo
.vs/

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Logs / build caches
*.log
*.tsbuildinfo

# Runtime data
uploads/

# IDE
.idea/
*.swp
*.sln.DotSettings.user
TestResults/

.opencode
AGENTS.md
